
<!DOCTYPE html>
<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
       <button  onclick="window.location.href='/add'">Add Task</button>
       
        <div class="timeline">
            {{ if .Tasks}} 
                {{range .Tasks}}
                
                    <div>
                        <hr>
                        <p class="noteContent">{{.Id}}</p>
                        
                        <p class="noteHeading">{{.Title}}</p>
                        
                        <p class="noteContent">{{.Content}}</p>
                        <a href="/edit/{{ .Id }}"><button >Edit Task</button></a>
                        <button class="delete-btn" id="{{.Id}}">Delete Task</button>
                        <button class="GetNews-btn" id="{{.Id}}" value="{{.Title}}">Get Hacker News Stories Based on Task Title</button>
                        <ul  class="News-{{.Id}}" id="unorderList">
                        {{ if .Task.News}}
                            {{ range .Task.News }}
                                {{ if .isMarked }}
                                    <button>Marked to be read later</button>
                                {{end}} 
                        {{end}} 
                        </ul>
                        
                       
                    </div>
                {{end}} 
            {{else}}
                <div class="note">
                    <p class="noteHeading">No Tasks here</p>
                    <p class="notefooter">Create new task<button> here </button> </p>
                </div>
            {{end}}
        </div> 
    </body>
</html>
<script type="text/javascript">
$(document).ready(function()
    {
        $(".delete-btn").click(function()
        {
            var del_id = $(this).attr('id');
            $.ajax({
                method:'DELETE',
                url:'/delete',
                data: JSON.stringify({task_id: del_id}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data)
                {
                        console.log(data);
                        window.location='/';
                }
            });
        });
});



let hmap = new Map()

$(document).ready(function() {
    $(".GetNews-btn").click(function() {
        var title = $(this).val(); 
        var taskId = $(this).attr('id')
        console.log("taskId "+taskId);
        $.ajax({
                method:'GET',
                url:'/api/task?title='+title,
                success: function(data)
                {
                        console.log(data);
                        $.each(data, function(k, v) {
                            hmap[v.Title] = v.Url;
                            $(".News-"+taskId).append("<li id=\""+taskId+"\">" + v.Title+"</li> <p>"+ v.Url +"</p> <button class=\"useful\">Useful? Mark it to read later</button>")
                        });

                        // window.location='/';
                        console.log(hmap)
                }
        }).done(function(){
            $(document).ready(function() {
                $('button.useful').on('click', function() {
                    var title = $(this).prev().prev().text();
                    var url = hmap[title]
                    console.log("url " + url);
                    $.ajax({
                        method:'POST',
                        url:'/api/task',
                        data: JSON.stringify({taskId: taskId, url:url})
                })
                });
            });
        });
    });
});


</script>