
<!DOCTYPE html>
<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            
            <style>
                .markedNews{ border: 3px; border-color: aquamarine; border-style: solid}
                ul {border: 3px; border-color: burlywoodl;  border-style: solid}
            </style>
    </head>
    <body>
        
       <button  onclick="window.location.href='/add'">Add Task</button>
       
        <div class="timeline">
            {{ if .Tasks}} 
                {{range $task := .Tasks}}
                
                    <div>
                        <hr>
                        <p class="noteContent">{{$task.Id}}</p>
                        
                        <p class="noteHeading">{{$task.Title}}</p>
                        
                        <p class="noteContent">{{$task.Content}}</p>
                        <a href="/edit/{{ .Id }}"><button >Edit Task</button></a>
                        <button class="delete-btn" id="{{.Id}}">Delete Task</button>
                        <button class="GetNews-btn" id="{{.Id}}" value="{{.Title}}">Get Hacker News Stories Based on Task Title</button>
                        <button id="hide-button-{{.Id}}" style="display: none">Show/hide the stories we have found for you</button>
                        <ul class="Parent-News-{{.Id}}" style="display: none">
                            <li>
                                Hacker News Stories that might help your daily task:
                                <ul class="News-{{.Id}}" id="unorderList">
                                    
                                </ul>

                            </li>
                        </ul>
                        
                       
                    </div>
                    {{ if $task.News }}
                        <div class="markedNews">
                            <h3>The news you have marked to read later</h5>
                            {{range $task.News}}
                                <p id="{{.Title}}">Story Title: {{.Title}}</p>
                                <a href="{{.Url}}" target="_blank">Link</a>
                                <button class="delete-marked-story-button" id="{{$task.Id}}">Delete This Marked Story</button>
                            {{end}}
                        </div>
                    {{end}}
                {{end}} 
            {{else}}
                <div class="note">
                    <p class="noteHeading">No Tasks here</p>
                    <p class="notefooter">Create new task<button> here </button> </p>
                </div>
            {{end}}
        </div> 

    </body>
</html>

<script type="text/javascript">


let hmap = new Map()


$(document).ready(function()
    {
        
        $(".delete-btn").click(function()
        {
            var del_id = $(this).attr('id');
            $.ajax({
                method:'DELETE',
                url:'/delete',
                data: JSON.stringify({task_id: del_id}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data)
                {
                        console.log("data " + data);

                        window.location='/';
                        hmap.clear();
                }
            });
        });

        $(".delete-marked-story-button").click(function() {
            var taskid = $(this).attr('id');
            var title = $(this).prev().prev().attr('id');
            console.log('delete-marked-story-button title - '+ title);
            console.log('delete-marked-story-button taskid - '+ taskid);

            $.ajax({
                method:'DELETE',
                url:'/api/task',
                data: JSON.stringify({taskid: taskid, title: title}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data)
                {
                    //Open the dialog box when the button is clicked.
                    alert("success deleted " + data);
                    window.location='/';


                        
                }
            });

        });
});






$(document).ready(function() {
    $(".GetNews-btn").click(function() {
        var title = $(this).val(); 
        var taskId = $(this).attr('id');
        console.log("ajax call title "+title);
        if(!$("#hide-button-"+taskId).is(':visible')) {
            $("#hide-button-"+taskId).toggle();
        }
        $("#hide-button-"+taskId).click(function() {

            $(".Parent-News-"+taskId).toggle();
        });
        hmap.clear();
        $.ajax({
                method:'GET',
                url:'/api/task?title='+title,
                success: function(data)
                {
                        if($.trim(data)) {
                            console.log(".trim(data)"+$.trim(data));
                            $(".Parent-News-"+taskId).toggle();
                            $.each(data, function(k, v) {
                                hmap[v.title] = v.url;
                                $(".News-"+taskId).append("<li id=\""+taskId+"\">" + v.title+"</li> <a href=\""+ v.url + "\"target=\"_blank\">Link</a> <button class=\"useful\">Useful? Mark it to read later</button>")
                            });
                            
                        }

                        console.log(hmap)
                }
        }).done(function(){
            $(document).ready(function() {
                $('button.useful').on('click', function() {
                    var title = $(this).prev().prev().text();
                    
                    var url = hmap[title]
                    console.log("url " + url);
                    $.ajax({
                        method:'POST',
                        url:'/api/task',
                        data: JSON.stringify({taskId: taskId, title: title, url:url}),
                        success: function(data) {
                            window.location='/';
                        }
                })
                });
            });
        });
    });
});


</script>